@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body {background: none repeat scroll 0 0 #fff; font: 12px/150% Arial,Verdana,"宋体";}
ol, ul {list-style: none outside none;}
a{ text-decoration:none; color:#333;}
a:hover{ text-decoration:none;}
em {font-style: normal;}
img {vertical-align: middle;border:none;}
a img { border: 0 none;}


.ms_bd{width:1000px;margin:0 auto;}

/*****头部样式开始******/
.niney{width:1000px;margin:0 auto;}
.wel{margin-top:3px;height:27px;line-height:27px;background:#f5f5f5;border:1px solid #dcdcdc;}
.wel_bd{zoom:1;overflow:hidden;width:1000px;margin:0 auto;}
.nihao{float:left;color:#666666;}
.login_area{float:right;}
.login_area span{color:#666666;margin-left:25px;}
.banner{width:1000px;margin:0 auto;}
.logo_area{margin-bottom:20px;margin-top:20px;zoom:1;overflow:hidden;}
.logo{margin-right:210px;float:left;}
.sear{width:323px;float:left;margin-top:27px;margin-right:27px;}
.h_blp{float:left;width:301px;}
.sear .ssnr{font-size:14px;color:#d0d0d0;padding-left:10px;line-height:29px;border:1px solid #686868;border-right:none;float:left;height:31px;width:270px;}
.sear .sear_bg{display:inline-block;border:1px solid #686868;border-left:none;pointer:cursor;font-size:20px;font-family:"微软雅黑";color:#fff;float:left;background:url(../images/sear_bg.jpg) no-repeat left;width:42px;height:33px;}
.sear_t{zoom:1;overflow:hidden;}
.sear_b{margin-left:5px;margin-top:7px;}
.sear_b span{font-size:13px;color:#9a9a9a;margin-right:16px}
.nav{height:40px;width:100%;background:#9dbf13;}
.nav ul{height:40px;zoom:1;overflow:hidden;width:1000px;margin:0 auto;}
.nav ul li{color:#fff;float:left;line-height:40px;}
.nav ul li a{padding:0px 20px;color:#fff;font-size:16px;border-right:1px solid #fff;}
.nav ul li.sy a{border-right:none;}
.nav2{margin-top:0px;background:#fff;border-bottom:1px solid #ffeeda;}
.nav2 ul li a{color:#666666;font-size:12px;border-right:1px solid #666666;}



/****头部样式结束*******/

/*****尾部样式******/
.nav3{border-top:4px solid #9dbf13;margin-top:105px;}


.nav3 ul.ptj{width:735px;text-align:center;}
.nav3 ul.ptj li{display:inline}
.nav3 ul.ptj li a{padding:0px 32px;color:#000;font-weight:800;font-size:16px;border-right:2px solid #000;}
.nav3 ul.ptj li.sy a{border-right:none;}
.food_list{padding-top:5px;padding-bottom:25px;width:660px;margin:0 auto;}
.food_list li{line-height:24px;}
.food_list li span{margin-right:80px;color:#666666;}
.food_list li span.sd_last{margin-right:0px;}
.foot_bot{padding-bottom:15px;background:#9dbf13;padding-top:10px;}
.nav4 ul li a{font-size:12px;}
.nav4 ul{width:740px;}
.nav5 ul{width:940px;}
.nav5{padding-bottom:25px;margin-bottom:15px;border-bottom:1px solid #bbd35b;}
.foot_bot p{color:#fff;text-align:center;line-height:24px;}
/******尾部样式结束**********/

/*轮播样式***************/
.www51buycom { width: 1000px; height: 480px; margin:25px auto; position: relative; overflow:hidden; margin-bottom: 28px; }
.www51buycom .prev,
.www51buycom .next { display: none; width: 40px; height: 100px; background: url(../images/top_next.jpg) no-repeat; position: absolute; top: 200px;}
.www51buycom .prev { left: 0;  background: url(../images/top_back.jpg) no-repeat;}
.www51buycom .next { right: 0; background-position: right }



.mod_tit{height:26px;line-height:26px;zoom:1;overflow:hidden;padding-bottom:7px;margin-bottom:20px;border-bottom:2px solid #9dbf13;}
.mod_tit h2{float:left;color:#9dbf13;font-size:26px;}

.mod_tit_r{margin-top:5px;float:right;}
.mod_tit_r span{color:#9dbf13;padding-left:8px;padding-right:10px;border-right:1px solid #9dbf13;}
.mod_tit_r span.s_last{border-right:none;}
.mod_tit_r em{margin-left:5px;color:#9dbf13;}
.two_col{zoom:1;overflow:hidden;margin-bottom:40px;}
.two_col_l{float:left;width:680px;margin-right:20px;}
.two_col_r{float:left;width:300px;}
.img360{margin-bottom:20px;zoom:1;overflow:hidden;}
.img360_left{float:left;width:360px;margin-right:20px;}
.img360_r{width:300px;float:left;}
.img360_r ul li{margin-bottom:15px;zoom:1;overflow:hidden}
.img360_r ul li.fss_last{margin-bottom:0px;}
.img150_l{width:150px;float:left;margin-right:15px;}
.img150_r{float:left;width:135px;}
.img150_r p{margin-bottom:8px;}
.img150_r p a{font-size:14px;color:#666666;}
.img150_r p a.khfh{color:#010101;}
.img150_r p a.ssmw{color:#9dbf13;font-weight:800;}
ul.img210{zoom:1;overflow:hidden;}
ul.img210 li{width:210px;float:left;margin-right:25px;}
ul.img210 li.img210_last{margin-right:0px;}
ul.img210 li .ny{margin-top:10px;display:inline-block;font-weight:800;color:#000;font-size:14px;line-height:26px;}
ul.img210 li .yzx{color:#666666;}
.img300_185{margin-bottom:20px;}
.lkss{border:1px solid #cccccc;margin-bottom:20px;}
.blp{padding:15px;border-bottom:1px solid #e5e5e5;zoom:1;overflow:hidden;}
.blp_l{float:left;margin-right:10px;}
.blp_r{float:left;width:200px;}
.blpmsw{margin-bottom:6px;}
.blpmsw span{color:#5093d5;font-size:14px;margin-right:17px;}
.blpmsw img{margin-right:7px;}
.blpmsw em{margin-right:7px;color:#444444;}
.lkss_bd{margin:15px;}
.lkss_bd p{margin-bottom:10px;color:#000;}
.lkss_bd p em{color:#9dbf13;}
.fbsj span{color:#5093d5;}
.fbsj span.today{float:left;}
.fbsj{margin-bottom:25px;padding-bottom:13px;border-bottom:1px dashed #cccccc;zoom:1;overflow:hidden;}
.fbsj span.zff{float:right;}
.fbsj span.pll{border-right:1px solid #cccccc;padding-right:10px;margin-right:10px;float:right;}

/****切换导航****/
.content_3_r3{border:1px solid #cccccc;}
.jcztlist li.parentli{ display:none}
.jczt{margin-bottom:5px;zoom:1;overflow:hidden;height:34px;}
.jczt li{width:149px;float:left;text-align:center;background:#eeeeee;height:28px;} 
.jczt li h2{margin-top:5px;font-size:14px;font-weight:100;}
.jczt li.current{background:#fff;}

.cqq{margin-bottom:10px;margin-left:15px;zoom:1;overflow:hidden;}
.people_img{float:left;margin-right:15px;}
.people_r{float:left;width:145px;}
.jcztlist li.parentli ul{margin-bottom:10px;margin-left:15px;}
.jcztlist li.parentli ul li a{color:#010101;line-height:22px;}
.jcztlist li.parentli ul li img{margin-right:8px;}

.p_hd{font-size:14px;font-weight:800;margin-bottom:5px;}
.p_bd{color:#666666;}
.p_bd em{margin-left:5px;color:#9dbf13}

.img160{margin:15px 0px;}
.img160 a.img160_90{margin-right:20px;}
.yangm_hd{margin-bottom:4px;font-size:14px;font-weight:800;color:#333333;}
.yangm_bd{margin-bottom:24px;line-height:24px;color:#666666;}
.yangm_bd a{color:#9dbf13;}
.mod_tit_l{margin-bottom:10px;font-size:16px;color:#9dbf13;padding-bottom:7px;border-bottom:1px solid #9dbf13;font-weight:100;}
ul.hot_theme li img{margin-right:5px;}
ul.hot_theme li span{color:#666666;line-height:24px;}
ul.img130_165 li{float:left;position:relative;}
ul.img130_165 li span{position:absolute;left:0px;bottom:0px;width:100%;height:25px;line-height:25px;text-align:center;color:#fff;background:#383838;}
ul.img130_165 li.img130_f{margin-left:10px;margin-right:20px;}
.getfat{zoom:1;overflow:hidden;}
.getfat_l{float:left;margin-right:18px;}
.getfat_l li{float:left;margin-right:12px;}
.getfat_l li p{text-align:center;}
.getfat_l li.fat_last{margin-right:0px;}
.getfat_r{float:left;}
.img300_120{margin:15px 0px;}
.more{margin-bottom:10px;text-align:right;}
.mod_tit2{font-size:26px;font-weight:900;border-bottom:2px solid #9dbf13;}
.yangm_bd02{margin-bottom:5px;}
.img1000_100{margin-bottom:30px;}

/*****4图横向滚动********/
.box{ width:980px; margin:0 auto; position:relative; overflow:hidden; _height:100%;}
.picbox{ width:980px; height:200px; overflow:hidden; position:relative;}
.piclist{ height:200px;position:absolute; left:0px; top:0px}
.piclist li{ margin-right:20px; padding:5px; float:left;}
.piclist li p{font-size:14px;text-align:center;margin-top:13px;}
.swaplist{ position:absolute; left:-3000px; top:0px}
.og_prev,.og_next{ width:35px; height:35px;position:absolute; top:75px; z-index:99; cursor:pointer;filter:alpha(opacity=70); opacity:0.7;}
.og_prev{ left:-10px; background:url(../images/bot_back.jpg) no-repeat;}
.og_next{right:-10px;background:url(../images/bot_next.jpg) no-repeat;}







